/* Global */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
}

body {
	font-size: 62.5%;
	min-height: 100vh;
	background: white;
}

main {
	background: #d6e9d6;
}

/* Font Things */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	color: rgb(36, 36, 36);
	font-family: "Open Sans", sans-serif;
}

/* Header */
.header {
	width: 100%;
	background: rgb(255, 255, 255);
	align-items: center;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem 20vh;
}

header {
	position: relative;
}

.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}

.header-title {
}

.header-figure-img {
	height: 5rem;
	width: auto;
}

.header-right {
	display: flex;
	gap: 0.4rem;
}

/* Main */
.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.widget {
	min-width: 80vw;
	margin: 0 auto;
	min-height: 40vh;
	background: rgb(255, 255, 255);
	border-radius: 0.5rem;
	padding: 2.5rem;
}

.footer {
	height: 6rem;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: 0 10vw;
	background: white;
}

.footer > p {
	font-size: 0.9rem;
}

.main-buitentemperatuur-chart {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow: auto;
}

@media screen and (max-width: 1000px) {
	.header-left {
		flex-direction: column;
	}
	.header {
		flex-direction: column;
		padding: 2.5rem 20vw;
	}
	.footer {
		flex-direction: column;
		padding: 2rem;
		height: unset;
		gap: 1rem;
	}
}
